@font-face {
  font-family: 'archiveregular';
  src: url('/fonts/archive-webfont.eot');
  src: url('/fonts/archive-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/archive-webfont.woff') format('woff'), url('/fonts/archive-webfont.ttf') format('truetype'), url('/fonts/archive-webfont.svg#archiveregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'narratorregular';
  src: url('/fonts/narrator-webfont.eot');
  src: url('/fonts/narrator-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/narrator-webfont.woff') format('woff'), url('/fonts/narrator-webfont.ttf') format('truetype'), url('/fonts/narrator-webfont.svg#narratorregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.narrator {
  font-family: 'narratorregular', Helvetica, sans-serif;
  font-size: 18px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  background: #212121;
  color: white;
}
::-moz-selection {
  background: #212121;
  color: white;
}
p {
  font-family: 'narratorregular', Helvetica, sans-serif;
  font-size: 18px;
  color: #212121;
  letter-spacing: 0.06em;
  line-height: 1.5em;
}
h3 {
  font-family: 'archiveregular', Helvetica, sans-serif;
  font-size: 36px;
  color: #df4b4e;
  margin-bottom: 10px;
}
blockquote {
  position: relative;
}
blockquote p {
  font-size: 24px;
}
blockquote:before {
  position: absolute;
  top: -10px;
  left: -30px;
  content: open-quote;
  font-family: 'narratorregular', Helvetica, sans-serif;
  font-size: 18px;
  font-size: 50px;
}
blockquote:after {
  position: absolute;
  right: -30px;
  bottom: -40px;
  content: close-quote;
  font-family: 'narratorregular', Helvetica, sans-serif;
  font-size: 18px;
  font-size: 50px;
}
a {
  color: #e5ae79;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  text-decoration: none;
}
a:hover {
  color: #e4e4e4;
}
a:focus {
  outline: none;
  background-color: #cd393c;
}
pre {
  font-size: 18px;
  color: #633332;
  line-height: 1.5em;
}
body {
  background-color: #e4e4e4;
}
.float {
  float: left;
}
.nudge-right {
  margin-right: 8px;
}
.white {
  background-color: white;
}
.red {
  background-color: #df4b4e;
}
.text-color {
  color: #e5ae79;
}
.text-red {
  color: #df4b4e;
}
.text-white {
  color: white;
}
.wrap {
  margin: 0 auto;
}
.wrap .section {
  max-width: 960px;
  padding: 40px;
}
.wrap .title h3 {
  display: inline-block;
  border-bottom: 4px solid #df4b4e;
  color: #df4b4e;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color 0.5s, border-color 0.5s;
  -moz-transition: color 0.5s, border-color 0.5s;
  -ms-transition: color 0.5s, border-color 0.5s;
  -o-transition: color 0.5s, border-color 0.5s;
  transition: color 0.5s, border-color 0.5s;
}
.wrap .title h3:hover {
  color: #212121;
  border-color: #212121;
  cursor: pointer;
}
.wrap .metaphor {
  padding-top: 60px;
  padding-bottom: 60px;
}
.wrap .metaphor .metaphor-text {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.wrap .usage {
  padding-top: 60px;
  padding-bottom: 60px;
}
.wrap .usage p {
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
.wrap .usage h3 {
  color: #212121;
}
.wrap .usage .text-block {
  padding-bottom: 30px;
}
.wrap .usage .text-block:last-child {
  padding-bottom: 0;
}
.wrap .generate #error {
  display: none;
  margin-top: 26px;
  margin-left: 10px;
}
.wrap .credits p a {
  color: #df4b4e;
}
.wrap .credits p a:hover {
  color: #633332;
}
.wrap .credits p a:focus {
  outline: none;
  background-color: #bebebe;
}
.generate .number {
  width: 34px;
  padding: 4px;
  outline: none;
  border: none;
  font-family: 'narratorregular', Helvetica, sans-serif;
  font-size: 18px;
  color: #df4b4e;
}
.generate .number:focus {
  border: 2px solid #df4b4e;
  height: 30px;
  padding: 2px;
}
.generate .p-tags {
  width: 70px;
  padding: 4px;
  background: transparent;
  background-color: white;
  outline: 0;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: 'narratorregular', Helvetica, sans-serif;
  font-size: 18px;
  color: #df4b4e;
}
.generate .p-tags:focus {
  border: 2px solid #df4b4e;
  padding: 2px;
}
.button {
  margin-top: 20px;
  padding: 6px;
  background-color: transparent;
  color: #df4b4e;
  border: 2px solid #df4b4e;
  font-family: 'narratorregular', Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -ms-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
.button:hover {
  background-color: white;
  color: #212121;
}
.button:focus {
  outline: none;
  background-color: white;
  color: #212121;
}
@media only screen and (max-width: 450px) {
  p {
    font-size: 14px;
  }
  h3 {
    font-size: 24px;
  }
  .metaphor-text {
    font-size: 18px;
  }
  .generate .number,
  .generate .p-tags {
    font-size: 14px;
  }
  .generate p {
    line-height: 2em;
  }
}
